.slick-dots {
  bottom: 25px;
  z-index: 10;
}
.slick-dots li button {
  background-color: white; 
  border-radius: 50%;  
  opacity: 0.75;
  transition: all 0.3s ease;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}

.slick-dots li button::before {
  color: transparent
}

.slick-dots li.slick-active button {
  background-color: #72be43; 
  width: 12px; 
  height: 12px; 
}

